#footer {
	margin-top: 50px;
}

.content {
	background-color: #333;
	color: #f5f5f5;
	justify-content: center;
	text-align: center;
	padding: 1rem;
}

.email {
	justify-content: center;
	display: flex;
}