.skillsSection
 {
	background: linear-gradient(-45deg, #1c51ff, #00adfc, #0a2791, #00c3ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
 }

 @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: center; */
}
  
.skill {
	background-color: #a9a9a9;
	margin: 5px;
	width: 200px;
	border-radius: 5px;
}

.skillName {
	padding: 5px 15px;
}
  
.notLearned {
	background-color: ghostwhite;
}

.text {
	text-align: center;
	font-size: 30px;
	padding-top: 50px;
}

.container {
   max-width: 60em;
   margin: 0 auto;
}
.progress-segment {
  display: flex;
}

.item {
  width: 100%;
  background-color: lightgray;
  height: 8px;
  border-style: solid;
  border-width: 1px;
}

.item.red-common {
    background: red !important;
}

.item.gold-common {
    background: gold !important;
}

.item.orange-common {
    background: orange !important;
}

.item.yellow-common {
    background: yellow !important;
}

.item.yellow-light-common {
    background: yellowgreen !important;
}

.item.green-light-common {
    background: greenyellow !important;
}

.item.green-common {
    background: green !important;
}

.item.gray-common {
    background: gray !important;
}

.icon {
	width: 40px;
	height: 40px;
	border: none;
}
