body {
  background-color: white;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
img {
  width: 300px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: -20px 0 20px 0;
}

.divider
{
	position: relative;
	margin: 25px 0;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(22, 22, 22), transparent);
}

.section {
  padding: 120px 0;
}